/* -----------------------------------------------

  Resets And Primitives

  ----------------------------------------------- */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  background:#fff;
  font-size:62.5%;
  font-family:Helvetica,Arial,sans-serif;
  color:#000;
}

h1,h2,h3,h4,h5,h6 { font-weight:bold; }

h1 {
  font-size:1em;
  line-height:1em;
}

h2 {
  font-size:1em;
  line-height:1em;
}

h3 {
  font-size:1em;
  line-height:1em;
}

h4 {
  font-size:1em;
  line-height:1em;
}

h5 {
  font-size:1em;
  line-height:1em;
}

h6 {
  font-size:1em;
  line-height:1em;
}

p {
  font-size:1em;
  line-height:1em;
}

address,caption,cite,code,dfn,th,var {
  font-style:normal;
  font-weight:normal;
}

ul,ol {
  list-style:none;
}

a {
  color:#000;
  text-decoration:underline;
}

a:hover {

}

img {
  border:0;
}

strong {
  font-weight:bold;
}

em {
  font-style:italic;
}

table {
  border-collapse:collapse;
}

caption,th,td {
  text-align:left;
  font-weight:normal;
}

/* -----------------------------------------------

  Chrome

  ----------------------------------------------- */

img {
  display:block;
  position:absolute;
}

.slices {
  overflow:hidden;
}
